<% validation_error.forEach(element => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%- element.msg %> </strong>
    </div>
<% }) %> 

<% success_message.forEach(element => { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%- element.msg %> </strong>
    </div>
<% }) %> 

<% login_error.forEach(error => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%- error %> </strong>
    </div>
<% }) %> 