<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="style.css">

    <style>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ECFAFB;
}

.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #D6C580;
}
form .policy{
  display: flex;
  align-items: center;
  
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #D6C580;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #D6C580;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #D6C580;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
    </style>
   </head>
<body>
  <div class="wrapper">
    <h2>Kayıt Ol</h2>
    <% if (locals.validation_error != undefined || locals.success_message != undefined || locals.login_error != undefined) { %>
        <%- include("./partials/_messages.ejs") %> 
    <% } %>
    <form action="/register" method="post">
      <div class="input-box">
        <input type="text" placeholder="İsminizi Giriniz" name="name" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Email ya da Telefon Numaranız" name="email" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Parola Oluştur" name="password" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Parolanı Yeniden Gir" name="repassword" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3>Tüm Şartları ve Koşulları Kabul Ediyorum</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Şimdi Kaydol">
      </div>
      <div class="text">
        <h3>Zaten Bir Hesabın Var İse <a href="/login">Giriş Yap</a></h3>
        <h3><a href="/">Ana Sayfa</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
