<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinTradeSimulator - Forgot Password</title>
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/login/loginPage.css">
</head>
<body>
    <div id="login">
        <form action="/resetpassword" method="post">
            <input type="hidden" name="id" value="<%= typeof id != "undefined" ? id : ""%>">
            <input type="hidden" name="token" value="<%= typeof token != "undefined" ? token : ""%>">
            <h2>RESET PASSWORD</h2>
            <% if (locals.validation_error != undefined || locals.success_message != undefined || locals.login_error != undefined) { %>
                <%- include("./partials/_messages.ejs") %> 
            <% } %>
            <input name="password" type="password" class="input"
            id="exampleInputEmail" aria-describedby="emailHelp"
            placeholder="Enter Your Password">
            <input name="repassword" type="password" class="input"
                                        id="exampleInputEmail" aria-describedby="emailHelp"
                                        placeholder="Enter Your Password Again">
            <input class="submit" type="submit" placeholder="LOGIN" value="SEND">
        </form>
    </div>
</body>
</html>